
<div class="container mt-5">
  <div class="d-flex">
    <h2 class="mr-auto p-2">Prompts</h2>
    <div class="ml-auto p-2">
      <div class="input-group">
      <form action="/prompt/filter" class="form-inline">
    <select name="filter" id="filter" class="custom-select-sm">
      <option selected>Sort by:</option>
      <option value="1">Works</option>
      <option value="2">Date Posted</option>
    </select>
      <input class="btn btn-info ml-2" type="submit" value="Sort" style="background-color: #45A29E !important; ;"></input>
    </form>
  </div>
  </div>
  </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-md-9">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <% prompts.forEach(prompt => { %>
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="/prompt/show/<%= prompt._id %>"><%= prompt.name %></a>
                </h5>
                <div>
                    <p><%= prompt.description %></p>
                </div>
                <span class="text-muted card-text mr-3">
                  Posted by: <a class="color-inherit"href="/user/<%= prompt.postedBy._id %>/dashboard"><%= prompt.postedBy.username %></a>
                </span>
                <span class="text-muted card-text mr-3">
                  Works: <%= prompt.worksNum %> 
                </span>
                <span class="text-muted card-text mr-3">
                  <% let dateString = JSON.stringify(prompt.createdAt) %>
                  <% let printDate = dateString.slice(1, 11) %>
                  Date Posted: <%= printDate %> 
                </span>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>

 