<% let dateString = JSON.stringify(prompt.createdAt) %>
<% let printDate = dateString.slice(1, 11) %>

<div class="container mt-5">
    <% if(user != null && user._id.equals(prompt.postedBy._id)) { %>
    <div class="mb-3">
      <div class="row d-flex justify-content-end">
            <a class="btn btn-outline-secondary lighter-green-text mr-1" href="/prompt/edit/<%= prompt._id %>">Edit Prompt</a>
        <form
          method="POST"
          style="display: inline;"
          action="/prompt/delete/<%= prompt._id %>?_method=DELETE"
          class="mr-3">
          <button class="btn btn-secondary"  type="submit" style="background-color: #45A29E !important;">Delete Prompt</button>
      </form>
    </div>
  </div>
    <% } %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <%= prompt.name %>
                </h5>
                <div class="mb-2">
                  <% prompt.tags.forEach(tag => {%>
                  <a href="/tag/show/<%= tag._id %>" class="badge badge-secondary">
                    <%= tag.name %>
                  </a>
                  <% }) %>
                </div>
                <div>
                    <p><%= prompt.description %></p>
                </div>
                <span class="text-muted card-text mr-3">
                  Posted by: <a class="color-inherit"href="/user/<%= prompt.postedBy._id %>/dashboard"><%= prompt.postedBy.username %></a> 
                </span>
                <span class="text-muted card-text mr-3">
                  Works: <%= prompt.worksNum %> 
                </span>
                <span class="text-muted card-text mr-3">
                  Date Posted: <%= printDate %> 
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row d-flex justify-content-end">
          <a class="btn btn-secondary mr-2" href="/work/addto/<%= prompt._id %>" style="background-color: #45A29E !important;">Respond to prompt</a>
          <a class="btn btn-secondary mr-3" href="/user/export-to/<%= prompt._id %>" style="background-color: #45A29E !important;">Import Work </a>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <h2 class="ml-4">Responses</h2>
          <% if (promptWorks.length == 0) { %>
              <div class="col-md-12 mb-3">
                <div class="row">
            <p class="ml-4">No works yet</p>
                </div>
            </div>
          <% } else { %>
          <% promptWorks.forEach(work => { %>
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="/work/show/<%= work._id %>"><%= work.title %></a>
                </h5>
                <div>
                    <p><%= work.summary %></p>
                </div>
                <span class="text-muted card-text mr-3">
                  Posted by: <a href="/user/<%= work.postedBy._id %>/dashboard" class="color-inherit"><%= work.postedBy.username %></a> 
                </span>
                <% if (work.attachedTo != null) { %>
                  <span class="text-muted card-text mr-3">
                    Prompt: <a href="/prompt/show/<%= work.attachedTo._id %>" class="color-inherit"> <%= work.attachedTo.name %> </a>
                  </span>
                <% } %>
                <span class="text-muted card-text mr-3">
                  <% let workDate = JSON.stringify(work.createdAt) %>
                  <% let printWorkDate = workDate.slice(1, 11) %>
                  Date Posted: <%= printWorkDate %> 
                </span>
                <span class="text-muted card-text mr-3">
                  Comments: <%= work.commentsNum %> 
                </span>
                <span class="text-muted card-text mr-3">
                  Favorites: <%= work.favesNum %> 
                </span>
              </div>
            </div>
          
          </div>
          <% }) %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
 