<% let dateString = JSON.stringify(work.createdAt) %>
<% let printDate = dateString.slice(1, 11) %>

<div class="container mt-5">
    <% if(user != null && user._id.equals(work.postedBy._id)) { %>
    <div class="mb-3">
      <div class="row d-flex justify-content-end mr-2">
          <a class="btn btn-secondary" href="/work/edit/<%= work._id %>" style="background-color: #45A29E !important;">Edit Work</a>
      </div>
    </div>
    <% } %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="mb-2">
                  <% work.tags.forEach(tag => {%>
                  <a href="/tag/show/<%= tag._id %>" class="badge badge-secondary">
                    <%= tag.name %>
                  </a>
                  <% }) %>
                </div>
                <h5 class="card-title">
                  Work Summary:
                </h5>
                <div>
                    <p><%= work.summary %></p>
                </div>
                <span class="text-muted card-text mr-3">
                  Posted by: <a href="/user/<%= work.postedBy._id %>/dashboard" class="color-inherit"><%= work.postedBy.username %></a> 
                </span>
                <% if (work.attachedTo != null) { %>
                <span class="text-muted card-text mr-3">
                  Prompt: <a href="/prompt/show/<%= work.attachedTo._id %>" class="color-inherit"><%= work.attachedTo.name %></a> 
                </span>
              <% } %>
                <span class="text-muted card-text mr-3">
                  Date Posted: <%= printDate %> 
                </span>
                <span class="text-muted card-text mr-3">
                  Comments: <%= work.commentsNum %> 
                </span>
                <span class="text-muted card-text mr-3">
                  Favorites: <%= work.favesNum %> 
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <h2 class="mx-auto"><%= work.title %></h2>
              <div class="col-md-12 mb-3">
                <div class="row">
            <p class="mx-auto"> <a href="/user/<%= work.postedBy._id %>/dashboard" style="color:black;"><%= work.postedBy.username %></a></p>
                </div>
            </div>
          <div class="col-md-12 mb-3" style="white-space: pre-wrap"><%= work.body %></div>
        </div>
      </div>
    </div>
  </div>
  <div id="commentBar" class="container mt-3">
    <div class="row d-flex justify-content-end">
      <% if (user != null && !user._id.equals(work.postedBy._id)) { %>
        <form action="/work/fave/<%= work._id %>" method="post">
          <button type="submit" class="btn btn-secondary mb-4 mr-1" id="favoriteWork"  style="background-color: #45A29E !important;">Favorite</button>
        </form>
      <% } %>
            <button class="btn btn-secondary mb-4 mr-1" id="toggleNewComment"  style="background-color: #45A29E !important;">Comment</button>
          <button class="btn btn-secondary mb-4 mr-1" id="toggleComments"  style="background-color: #45A29E !important;">Show Comments</button>
      </div>
  <div class="row" id="commentDiv" style="display: none;">
    <% if(user != null) { %>
    <div class="col-md-12">
      <form class="mx-2 mb-2 form-horizontal" id="addComment" action="/comment/addto/<%= work._id %>" method="post">
          <fieldset>
          <label class="control-label">Commenting as <strong><%= user.username %></strong></label>
          <textarea class="form-control" name="body" id="body" cols="30" rows="5"></textarea>
          <button class="mt-2 btn btn-secondary form-control" type="submit"  style="background-color: #45A29E !important;">Save</button>
          </fieldset>
      </form>
  </div>
<% } %>
</div>
<div class="row" id="editDiv" style="display: none; min-height: 100px !important;">
  <div class="col-md-12" id="appendFormHere"></div>
</div>
  <div class="row" id="allComments" style="display: none;">
    <div class="col-md-12">
      <div class="row">
        <% if (workComments.length == 0) { %>
            <div class="col-md-12 mb-3">
              <div class="row">
          <p class="ml-4">No comments yet</p>
              </div>
          </div>
        <% } else { %>
        <% workComments.forEach(comment => { %> 
        <div class="col-md-12 mb-3">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">
                <a href="/user/<%= comment.postedBy._id %>/dashboard" class="color-inherit"><%= comment.postedBy.username %></a>
              </h6>
              <div>
                  <p><%= comment.body %></p>
              </div>
              <span class="text-muted card-text mr-3">
                <% let commentDate = JSON.stringify(comment.createdAt) %>
                <% let printCommentDate = commentDate.slice(1, 11) %>
                Date Posted: <%= printCommentDate %> 
              </span>
              <% if(user != null && user._id.equals(comment.postedBy._id)) { %>
                <div class="btn-group pull-right edit-btns">
                  <button class="btn btn-outline-secondary lighter-green-text btn-sm" type="submit">
                    <a href="#" class="color-inherit editThis" data-commentid="<%= comment._id %>" data-workid="<%= work._id %>" data-username="<%=user.username %>" data-commentbody="<%= comment.body %>">Edit</a>
                </button>
                <form method="POST" style="display: inline;" action="/comment/on/<%= work._id %>/delete/<%= comment._id %>?_method=DELETE">
              <button class="btn btn-secondary btn-sm" type="submit" style="background-color: #45A29E !important;">Delete</button>
                </form>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <% }) %>
        <% } %>
      </div>
    </div>
  </div>
</div>
