<% let userDate = JSON.stringify(user.createdAt) %>
<% let printUserDate = userDate.slice(1, 11) %>
<div class="container mt-5">
    <div class="row mb-2 justify-content-between">
        <div class="col-md-4">
            <h2><%= user.username %></h2>
        </div>
        <% if(loggedUser._id.equals(user._id)) { %>
            <div class="col-md-4">

            <a class="btn btn-secondary" href="/prompt/create" style="background-color: #45A29E !important;">New Prompt</a>
         
            
            <a class="btn btn-secondary" href="/work/create" style="background-color: #45A29E !important;">New Work</a>
       
    
            <a id="toggleEditMode" class="btn btn-outline-secondary lighter-green-text" href="#">Edit Mode</a>
            </div>
            <% } %>
    </div>
    <div class="row">
      <div class="col-md-12">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="prompts-tab" data-toggle="tab" href="#prompts" role="tab" aria-controls="prompts" aria-selected="false">Prompts (<%= userPrompts.length %>)</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="works-tab" data-toggle="tab" href="#works" role="tab" aria-controls="works" aria-selected="false">Works (<%= userWorks.length %>)</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <p class="mx-3 my-5"></p>
                        <div class="col-md-12 mb-3">
                            <div class="row">
                              <p class="ml-4"> 
                                    User since: <%= printUserDate %></p>
                            </div>
                            <div class="row">
                                <% if(loggedUser._id.equals(user._id)) { %>
                                    <a class="btn btn-secondary ml-4" href="/user/bio/create" style="background-color: #45A29E !important;">Add Bio</a>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="prompts" role="tabpanel" aria-labelledby="prompts-tab">
                        <p class="mx-3 my-5"></p>
                            <% if (userPrompts.length == 0) { %>
                                <div class="col-md-12 mb-3">
                                  <div class="row">
                                    <p class="ml-4"> No prompts posted yet</p>
                                  </div>
                              </div>
                              <% } else { %>
                              <% userPrompts.forEach(prompt => { %>
                              <div class="col-md-12 mb-3">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">
                                      <a href="/prompt/show/<%= prompt._id %>"><%= prompt.name %></a>
                                    </h5>
                                    <div>
                                        <p><%= prompt.description %></p>
                                    </div>
                                    <span class="text-muted card-text mr-3">
                                      Posted by: <%= prompt.postedBy.username %> 
                                    </span>
                                    <span class="text-muted card-text mr-3">
                                      Works: <%= prompt.worksNum %> 
                                    </span>
                                    <span class="text-muted card-text mr-3">
                                      <% let dateString = JSON.stringify(prompt.createdAt) %>
                                      <% let printDate = dateString.slice(1, 11) %>
                                      Date Posted: <%= printDate %> 
                                    </span>
                                    <div class="btn-group pull-right edit-btns" style="display:none;">
                                      <button class="btn btn-outline-secondary lighter-green-text btn-sm" type="submit">
                                        <a href="/prompt/edit/<%= prompt._id %>" class="color-inherit">Edit</a>
                                    </button>
                                    <form method="POST" style="display: inline;" action="/prompt/delete/<%= prompt._id %>?_method=DELETE">
                                  <button class="btn btn-secondary btn-sm" type="submit" style="background-color: #45A29E !important;">Delete</button>
                                    </form>
                                  </div>
                                  </div>
                                </div>
                              </div>
                              <% }) %>
                              <% } %>
                    </div>
                    <div class="tab-pane fade" id="works" role="tabpanel" aria-labelledby="works-tab">
                        <p class="mx-3 my-5"></p>
                        <% if (userWorks.length == 0) { %>
                            <div class="col-md-12 mb-3">
                              <div class="row">
                          <p class="ml-4">No works posted yet</p>
                              </div>
                          </div>
                        <% } else { %>
                        <% userWorks.forEach(work => { %> 
                        <div class="col-md-12 mb-3">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">
                                <a href="/work/show/<%= work._id %>"><%= work.title %></a>
                              </h5>
                              <div>
                                  <p><%= work.summary %></p>
                              </div>
                              <span class="text-muted card-text mr-3">
                                Posted by: <%= work.postedBy.username %> 
                              </span>
                              <% if (work.attachedTo != null) { %>
                              <span class="text-muted card-text mr-3">
                                Prompt: <a href="/prompt/show/<%= work.attachedTo._id %>" class="color-inherit"><%= work.attachedTo.name %></a> 
                              </span>
                            <% } %>
                              <span class="text-muted card-text mr-3">
                                <% let workDate = JSON.stringify(work.createdAt) %>
                                <% let printWorkDate = workDate.slice(1, 11) %>
                                Date Posted: <%= printWorkDate %> 
                              </span>
                              <span class="text-muted card-text mr-3">
                                Comments: <%= work.commentsNum %> 
                              </span>
                              <div class="btn-group pull-right edit-btns" style="display:none;">
                                <% if (work.attachedTo != null) { %>
                                  <form action="/user/<%= work._id %>/remove-from/<%= work.attachedTo._id %>" method="POST" style="display: inline;">
                                <button class="btn btn-outline-secondary lighter-green-text btn-sm" type="submit">Unattach</button>
                                </form>
                              <% } %>
                                <button class="btn btn-outline-secondary lighter-green-text btn-sm" type="submit">
                                  <a href="/work/edit/<%= work._id %>" class="color-inherit">Edit</a>
                              </button>
                              <form method="POST" style="display: inline;" action="/work/delete/<%= work._id %>?_method=DELETE">
                            <button class="btn btn-secondary btn-sm" type="submit" style="background-color: #45A29E !important;">Delete</button>
                              </form>
                            </div>
                            </div>
                          </div>
                        </div>
                        <% }) %>
                        <% } %>
                    </div>
                  </div>  
            </div>
      </div>
    </div>
  </div>


  